.card-view {
  width: 26%;
  height: 200px;
  background-color: var(--primary200);
  flex-direction: column;
  border-radius: 25px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.bet-area {
  width: 100%;
  margin: 20px 0;
}
.bet-area > p {
  margin: 0 10px;
}
@media (max-width: 768px) {
  .card-view {
    width: 80%;
  }
}
