.card-view {
  width: 26%;
  min-width: 320px;
  height: 200px;
  background-color: var(--primary200);
  flex-direction: column;
  border-radius: 25px;
  justify-content: center;
}
.bet-area {
  width: 100%;
  margin: 20px 0;
}
.bet-area > p {
  margin: 0 10px;
}
input[type="number"] {
  color: var(--accent);
  width: 40px;
  height: 40px;
  -moz-appearance: textfield; /* Firefox */
  text-align: center;
  background-color: var(--primary100);
  border-radius: 50%;
  border: 2px solid var(--accent);
  font-size: 1.4em;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Optional */
}
.save-bet {
  background-color: var(--primary300);
  width: 80px;
  height: 30px;
  margin-top: 5px;
  border-radius: 15px;
  transition: 0.5s;
  color: var(--accent);
  border: 1px solid var(--accent);
}
.save-bet:disabled {
  background-color: var(--primary200);
  border: 1px solid var(--primary300);
  color: var(--primary300);
}
/* .save-bet:hover {
  background-color: var(--primary200);
} */
