.table {
  width: 50%;

  display: flex;
  flex-direction: column;
}
.table-element:nth-child(1) {
  background-color: var(--primary300);
}
.table-element {
  display: flex;
  flex-direction: row;
  height: 50px;
  border-radius: 25px;
  background-color: var(--primary200);
  margin-bottom: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.table-element:hover {
  transform: scale(1.02);
}
.table-cell:nth-child(2) {
  width: calc(40% - 50px);
  border-radius: 25px;
}
.table-cell:nth-child(1) {
  width: 50px;
  font-size: 1.6em;
}
.table-cell:last-child {
  padding-right: 5px;
  box-sizing: border-box;
}
.table-cell {
  width: 20%;
}
@media (max-width: 768px) {
  .table {
    width: 90%;
    font-size: 0.8em;
  }
  .table-element:nth-child(1) {
    font-size: 0.6em;
  }
  .table-element {
    height: 24px;
    border-radius: 12px;
  }
  .table-cell:nth-child(1) {
    width: 24px;
    font-size: 1em;
  }
  .table-cell:nth-child(2) {
    width: calc(40% - 24px);
  }
  .table-cell {
    width: 20%;
  }
}
